<?xml version="1.0"?>

<launch>

    <!-- launch the aruco detection -->
    <include file="$(find aruco_detect)/launch/aruco_detect.launch" >
        <arg name="camera" value="camera/color" />
        <arg name="image" value="image_raw" />
        <!-- <arg name="fiducial_len" value="0.136" /> -->
        <!-- <arg name="fiducial_len" value="0.82" /> -->
        <arg name="fiducial_len" value="0.14" />
        <arg name="dictionary" value="7" />
        <!-- <arg name="fiducial_len" value="0.1558" /> -->
    </include>
    <!-- launch the realsense camera node -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <arg name="sim" default="false" />
    <!-- launch the aubo robot -->
    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch" />
    <!-- launch the visp calibrator -->
    <node pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator" name="calibrator_node" />
</launch>
